@media only screen and (max-width: 1870px) {

	/*-- Section 2 - Maine Page --*/

	.goods_cards_templ {
		display: flex;
		display: -webkit-flex;
	}

	.goods_cards_templ .left_col {
		width: 270px;
		padding: 15px 10px 0 0;
	}

	.goods_cards_templ .right_col {
		width: calc(100% - 270px);
		padding-left: 10px;
	}

	.good_thumbnails {
	    margin: 0 -15px;
	}

	.good_thumb {
	    width: calc(33.33% - 30px);
	    margin: 15px;
	}

	.catalog_sect .side_nav {
	    top: 15px;
	}

	.catalog_sect .side_nav {
		padding: 10px 0 10px 10px;
		position: relative;
	    top: 0;
	}

	/*-- /Section 2 - Maine Page --*/

	/*-- Section 1 - Basket Page --*/

	.basket_table_header p {
	    font-size: 28px;
	    line-height: 32px;
	}

	.good_table h3 {
	    font-size: 28px;
	    line-height: 32px;
	}

	.basket_item {
	    margin: 30px 0;
	    padding: 0;
	}

	.basket_item p {
	    font-size: 28px;
	    line-height: 32px;
	}

	.count_box_2 input {
	    font-size: 28px;
	    line-height: 32px;
	}

	.basket_item .del_btn {
		top: 6px;
	    right: 0;
	}

	.good_table_cell_1 {
	    width: 155px;
	}

	.good_table_cell_2 {
	    width: calc(100% - 155px);
	}

	.good_table_cell_1 .img_box {
	    height: 220px;
	    max-width: 155px;
	}

	/*-- /Section 1 - Basket Page --*/

}

@media only screen and (max-width: 1400px) {

	/*-- Header --*/

	.main_nav_wrapp {
	    margin: 5px -15px;
	}

	.main_nav li {
	    padding: 5px 15px;
	}

	.icons_thumbs {
	    margin: 11px -8px 0 0;
	}

	.icons_thumbs > div {
	    padding: 5px 8px;
	}

	.logo {
	    margin: 5px 0;
	}

	/*-- /Header --*/


}

@media only screen and (max-width: 1240px) {



	/*-- Header --*/

/*	.main_nav_wrapp {
	    margin: 5px -15px;
	}

	.main_nav li {
	    padding: 5px 15px;
	}

	.icons_thumbs {
	    margin: 11px -8px 0 0;
	}

	.icons_thumbs > div {
	    padding: 5px 8px;
	}

	.logo {
	    margin: 5px 0;
	}*/

/*	.main_header {
	    padding: 0 20px;
	}*/

	.main_nav_wrapp {
	    margin-top: 15px;
	}

	.main_nav li a {
	    padding: 3px 0;
	    font-size: 22px;
	    line-height: 22px;
	}

	/*-- /Header --*/

}

@media only screen and (max-width: 1124px) {

	/*-- Section 2 - Maine Page --*/
	.good_thumb {
	    width: calc(50% - 30px);
	    margin: 15px;
	}
	/*-- /Section 2 - Maine Page --*/

}

@media only screen and (max-width: 1024px) {

	.row {
		padding: 0 15px;
	}

	.resp_wrapper {
		padding-top: 95px;
	}

/*-- Header --*/

.main_header,
.main_header.fixed {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 12;
	background: #ffffff;
}

.respmenubtn {
	display: block;
	top: 10px;
}

.main_nav_wrapp {
	width: 100%;
    margin: 5px 0;
}

.close_btn {
    display: block;
}

.resp_nav {
	/*display: block;*/
	display: none;
	width: 100%;
	height: 100vh;
	overflow-y: auto;
	margin: 0;
	padding: 60px 20px 80px 20px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 13;
	background: #ffffff;
}

.main_nav li {
	display: block;
	padding: 10px 0;
	text-align: center;
}

.main_nav li a {
	display: inline-block;
	vertical-align: top;
}

.header_site .left_col {
    width: 50px;
}

.header_site .right_col {
    width: calc(100% - 300px);
}

/*-- /Header --*/

/*-- Section 1 - Maine Page --*/

.promo_templ .left_col {
    width: 40%;
}

.promo_templ .right_col {
    width: 60%;
}

.promo_title {
    top: -19px;
}

/*-- /Section 1 - Maine Page --*/

/*-- Section 2 - Maine Page --*/

.goods_cards_templ {
	display: block;
}

.goods_cards_templ .left_col {
    width: 100%;
    padding: 15px 0;
}

.goods_cards_templ .right_col {
    width: 100%;
    padding-left: 0;
}

.side_nav {
    width: 100%;
    max-width: 100%;
    min-height: auto;
}

.side_nav li a {
    margin: 10px 0;
}

.good_thumb h3 {
    font-size: 24px;
    line-height: 26px;
}

.good_thumb p {
    font-size: 22px;
    line-height: 26px;
}

/*-- /Section 2 - Maine Page --*/

/*-- Section 1 - Basket Page --*/

	.basket_table_header {
		display: none;
	}

	.p_resp {
		display: block;
	}

	.good_table h3 {
	    font-size: 23px;
	    line-height: 28px;
	}

	.basket_item {
	    display: flex;
	    display: -webkit-flex;
	    flex-wrap: wrap;
	    -webkit-flex-wrap: wrap;
	    margin: 30px 0;
	    padding: 20px 0;
	    border-bottom: 1px solid #ededed;
	}

	.basket_item p {
	    font-size: 23px;
	    line-height: 28px;
	}

	.basket_item .cell:nth-child(1) {
	    width: 50%;
	}

	.basket_item .cell:nth-child(2) {
	    width: 25%;
	}

	.basket_item .cell:nth-child(3) {
	    width: 25%;
	}

	.basket_item .cell:nth-child(4) {
	    width: 100%;
	    text-align: right;
	}

	.basket_item .cell:nth-child(4) p {
		display: inline-block;
		vertical-align: top;
		padding: 0 10px;
	}

	.basket_item .del_btn {
	    top: -20px;
	}

/*-- /Section 1 - Basket Page --*/

}

@media only screen and (max-width: 900px) {

	.resp_wrapper {
		padding-top: 65px;
	}

/*-- Header --*/

	.footer {
		display: block;
		padding: 10px 0;
	}

	.footer .left_col {
		width: 100%;
		padding: 10px 0;
	}

	.footer .right_col {
		width: 100%;
		padding: 10px 0;
		justify-content: center;
	    -webkit-justify-content: center;
	}

	.footer_nav {
		justify-content: center;
	    -webkit-justify-content: center;
	    margin: 0;
	}

	.footer_nav li {
	    padding: 7px 15px;
	}

/*-- /Header --*/

}

@media only screen and (max-width: 767px) {

	.wrapper {
		padding-top: 88px;
	}

	h2 {
	    font-size: 30px;
	    line-height: 37px;
	}

	/*-- Header --*/

	.resp_icons_wrapp {
		padding: 10px 0 20px;
	}

	.resp_append {
		display: inline-block;
		vertical-align: top;
		margin: 10px;
	}

	.select_lang_wrapp .dropdown_select.active .dropdown_box {
	    left: -30px;
	}

	/*-- /Header --*/

	/*-- Section 1 - Maine Page --*/

	.planeta_img {
		display: none;
	}

	.promo_templ {
		display: block;
		height: 480px;
		min-height: auto;
		overflow: hidden;
	}

	.promo_templ .left_col {
		width: 100%;
	}

	.promo_templ .right_col {
	    width: 100%;
	    background: rgba(255, 255, 255, .6);
	    padding: 10px 0;
	    position: absolute;
	    top: 50%;
	    left: 0;
	    -webkit-transform: translate(0, -50%);
	    -moz-transform: translate(0, -50%);
	    transform: translate(0, -50%);
	}

	.promo_title {
	    height: 100%;
	    width: 100%;
	    padding: 0;
	    border: none;
	    border-radius: 0;
	    transform: none;
	    position: relative;
	    top: 0;
	    justify-content: center;
	}

	.h1_wrapp {
	    top: 0;
		transform: none;
		text-align: center;
	}

	.orbit {
		display: none;
	}

	.h1_wrapp h1 {
		transform: none;
		position: relative;
		display: block;
		text-align: center;
		box-shadow: none;
	}

	.h1_wrapp h1:after {
		display: none;
	}

	.title_image {
		display: none;
	}

	/*-- /Section 1 - Maine Page --*/

	/*-- Section 1 - Basket Page --*/

	.planeta_img_6,
	.planeta_img_7 {
		display: none;
	}

	.basket_item .cell:nth-child(1) {
	    width: 70%;
	}

	.basket_item .cell:nth-child(2) {
	    width: 30%;
	}

	.basket_item .cell:nth-child(3) {
	    width: 150px;
	    margin-top: -88px;
	    margin-left: 160px;
	}

	.basket_item .cell:nth-child(4) {
	    width: calc(100% - 150px);
		margin-top: -88px;
		margin-left: 150px;
	}

	/*-- /Section 1 - Basket Page --*/

}

@media only screen and (max-width: 600px) {

	.wrapper {
		padding-top: 62px;
	}

	/*-- Header --*/

	.main_header {
	    padding: 0;
	}

	.header_site .left_col {
	    padding: 5px 5px 5px 0;
	}

	.header_site .center_col {
	    width: 150px;
	    padding: 5px;
	}

	.header_site .right_col {
	    width: calc(100% - 210px);
	    padding: 5px 0 5px 5px;
	}

	.respmenubtn {
	    top: 2px;
	}

	.icons_thumbs {
	    margin: 0;
	}

	/*-- /Header --*/

	/*-- Section 2 - Maine Page --*/

	.good_thumbnails {
	    margin: 0;
	}

	.good_thumb {
	    width: 100%;
	    margin: 15px 0;
	}

	/*-- /Section 2 - Maine Page --*/

	/*-- Section 1 - Basket Page --*/

	.basket_item .cell:nth-child(1) {
	    width: 100%;
	    margin-bottom: 10px;
	}

	.basket_item .cell:nth-child(2) {
	    width: 140px;
	}

	.basket_item .cell:nth-child(3) {
	    width: 150px;
	    margin-top: 0;
	    margin-left: 0;
	}

	.basket_item .cell:nth-child(4) {
	    width: calc(100% - 290px);
		margin-top: 0;
		margin-left: 0;
	}

	/*-- /Section 1 - Basket Page --*/

}

@media only screen and (max-width: 560px) {

	/*-- Section 1 - Basket Page --*/

	.p_resp {
	    padding-bottom: 10px;
	}

	.good_table_cell_1 {
	    width: 130px;
	}

	.good_table_cell_2 {
	    width: calc(100% - 130px);
	}

	.basket_item .cell:nth-child(2) {
	    width: 140px;
	}

	.basket_item .cell:nth-child(3) {
	    width: calc(100% - 140px);
	}

	.basket_item .cell:nth-child(4) {
	    width: 100%;
	    margin-top: 10px;
	}

	.good_table h3 {
	    font-size: 21px;
	    line-height: 25px;
	}

	.basket_item p {
	    font-size: 20px;
	    line-height: 24px;
	}

	.count_box_2 {
	    width: 90px;
	}

	.count_box_2 button {
	    width: 20px;
	}

	.count_box_2 input {
	    width: 50px;
	    font-size: 24px;
	}

	/*-- /Section 1 - Basket Page --*/

}

@media only screen and (max-width: 480px) {

	/*-- Header --*/

	.logo {
	    margin-top: 8px;
	}

	.header_site .center_col {
	    width: 110px;
	    padding-top: 7px;
	}

	.header_site .right_col {
	    width: calc(100% - 160px);
	}

	/*-- /Header --*/

}
