@media only screen and (max-width: 1870px) {

	/*-- Section 2 - Maine Page --*/

	.goods_cards_templ {
		display: flex;
		display: -webkit-flex;
	}

	.goods_cards_templ .left_col {
		width: 270px;
		padding: 15px 10px 0 0;
	}

	.goods_cards_templ .right_col {
		width: calc(100% - 270px);
		padding-left: 10px;
	}

	.good_thumbnails {
	    margin: 0 -15px;
	}

	.good_thumb {
	    width: calc(33.33% - 30px);
	    margin: 15px;
	}

	.catalog_sect .side_nav {
	    top: 15px;
	}

	.catalog_sect .side_nav {
		padding: 10px 0 10px 10px;
		position: relative;
	    top: 0;
	}

	/*-- /Section 2 - Maine Page --*/

	/*-- Section 1 - Basket Page --*/

	.basket_table_header p {
	    font-size: 28px;
	    line-height: 32px;
	}

	.good_table h3 {
	    font-size: 28px;
	    line-height: 32px;
	}

	.basket_item {
	    margin: 30px 0;
	    padding: 0;
	}

	.basket_item p {
	    font-size: 28px;
	    line-height: 32px;
	}

	.count_box_2 input {
	    font-size: 28px;
	    line-height: 32px;
	}

	.basket_item .del_btn {
		top: 6px;
	    right: 0;
	}

	.good_table_cell_1 {
	    width: 155px;
	}

	.good_table_cell_2 {
	    width: calc(100% - 155px);
	}

	.good_table_cell_1 .img_box {
	    height: 220px;
	    max-width: 155px;
	}

	/*-- /Section 1 - Basket Page --*/

	/*-- Section 1 - Search Page --*/

	.good_thumbnails_2 .good_thumb_2 {
		width: calc(25% - 30px);
	}

	/*-- /Section 1 - Search Page --*/

}

@media only screen and (max-width: 1699px) {

	/*-- Header --*/

	.sub_menu {
	    min-width: 900px;
	}

	/*-- Header --*/

	/*-- Section 1 - Orders Page --*/

	.order_item {
	    margin: 30px 0;
	    padding-left: 0;
	}

	.orders_table_header p {
	    font-size: 19px;
	    line-height: 26px;
	}

	.back_link {
	    font-size: 23px;
	    line-height: 30px;
	}

	.back_link:before {
	    width: 20px;
	    height: 25px;
	}

	.status_text p {
	    font-size: 21px;
	    line-height: 26px;
	}

	.order_item p {
	    font-size: 21px;
	    line-height: 26px;
	}

	.order_item .cell {
	    padding: 5px 10px 0 10px;
	}

	/*-- /Section 1 - Orders Page --*/

	/*-- Section 1 - Profile Page --*/

	.profile_templ .side_bg {
	    display: none;
	}

	.profile_wrapp {
		width: 100%;
	    max-width: 900px;
	}

	.profile_wrapp h2 {
	    padding: 20px 0;
	}

	.profile_desc {
	    padding: 20px 0;
	}

	.profile_navs_wrapp {
	    padding: 20px 0;
	}

	.profile_nav li {
	    padding: 10px 0;
	}

	.profile_desc p {
	    font-size: 25px;
	    line-height: 34px;
	}

	.profile_nav li a {
	    font-size: 25px;
	    line-height: 34px;
	}

	/*-- /Section 1 - Profile Page --*/

	/*-- Section 1 - Vishlist Page --*/

	.good_options {
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
	}

	.good_options > div {
		width: 100%;
	}

	.vishlist_table_header .cell:nth-child(1) {
	    width: 45%;
	}

	.vishlist_table_header .cell:nth-child(2) {
	    width: 55%;
	}

	.vishlist_item .cell:nth-child(1) {
	    width: 45%;
	}

	.vishlist_item .cell:nth-child(2) {
	    width: 18%;
	}

	.vishlist_item .cell:nth-child(3) {
	    width: 37%;
	}

	.vishlist_item p {
	    font-size: 28px;
	    line-height: 31px;
	}

	/*-- .Section 1 - Vishlist Page --*/

}

@media only screen and (max-width: 1400px) {

	/*-- Header --*/

	.main_nav_wrapp {
	    margin: 5px -15px;
	}

	.main_nav li {
	    padding: 5px 15px;
	}

	.icons_thumbs {
	    margin: 11px -8px 0 0;
	}

	.icons_thumbs > div {
	    padding: 5px 8px;
	}

	.logo {
	    margin: 5px 0;
	}

	/*-- /Header --*/

	/*-- Section 1 - Card Page --*/

	.card_templ .left_col {
	    width: 50%;
	    padding: 10px 15px 10px 0;
	}

	.card_templ .right_col {
	    width: 50%;
	    padding: 10px 0 10px 15px;
	}

	.card_slider_big {
	    margin-bottom: 10px;
	}

	.card_slider_big .slide .img_box {
	    height: 430px;
	}

	.card_slider_miniatures .slide .img_box {
	    height: 200px;
	}

	.card_title h2 {
	    font-size: 33px;
	    line-height: 50px;
	}

	.card_title p {
	    font-size: 33px;
	    line-height: 50px;
	}

	.list_1 {
	    margin: 20px 0;
	}

	.list_1 li {
	    font-size: 22px;
	}

	.card_text p {
	    font-size: 22px;
	    line-height: 25px;
	}

	.filters_wrapp {
	    margin: 25px 0;
	}

	.filter {
	    width: 50%;
	    padding-bottom: 10px;
	}

	.left_offset {
	    padding-left: 0;
	}

	.btns_wrapp .white_pill {
	    min-width: 260px;
	}

	.btns_wrapp .dark_pill {
	    min-width: 260px;
	}

	.sizes_wrapp {
	    margin: 30px 0;
	}

	.sizes {
	    padding: 5px 40px 20px 20px;
	}

	.sizes_table .table_row .cell:nth-child(1) p {
	    font-size: 17px;
	    line-height: 19px;
	}

	.sizes_table p {
	    font-size: 17px;
	    line-height: 19px;
	}

	/*-- /Section 1 - Card Page --*/

	/*-- Section 1 - Chekout Page --*/

	.checkout_table .cell {
		padding: 15px 25px;
	}

	.checkout_table h3 {
	    font-size: 24px;
	    line-height: 30px;
	}

	.checkout_table p {
	    padding: 10px 0;
	    font-size: 24px;
	    line-height: 30px;
	}

	.radio {
	    font-size: 24px;
	    line-height: 30px;
	}

	.radio input {
	    top: 4px;
	}

	.white_select .active_val input {
	    font-size: 25px;
	    line-height: 30px;
	}

	.input_wrapp_white input {
	    font-size: 25px;
	    line-height: 30px;
	}

	/*-- /Section 1 - Chekout Page --*/

	/*-- Section 1 - Settings Page --*/

	.settings_form_wrapp:nth-child(1) {
	    margin-top: 30px;
	}

	.input_wrapp_templ {
		display: block;
	    margin: 15px 0;
	}

	.input_wrapp_templ .col_1 {
	    width: 100%;
	    padding-bottom: 10px;
	    padding-right: 0;
	    text-align: left;
	}

	.input_wrapp_templ .col_2 {
	    width: 100%;
	    padding-left: 0;
	}

	.settings_form .left_col {
	    width: calc(100% - 380px);
	}

	.settings_form .right_col {
	    width: 380px;
	}

	/*-- /Section 1 - Settings Page --*/

	/*-- Section 1 - Planet Page --*/

	.image_wrapp {
		max-width: 500px;
		margin: 0 auto;
	}

	/*-- /Section 1 - Planet Page --*/


}

@media only screen and (max-width: 1240px) {

	/*-- Header --*/

	.main_nav_wrapp {
	    margin-top: 15px;
	}

	.main_nav li a {
	    padding: 3px 0;
	    font-size: 22px;
	    line-height: 22px;
	}

	/*-- /Header --*/

	/*-- Section 1 - Card Page --*/

	.card_templ .left_col {
	    width: 45%;
	}

	.card_templ .right_col {
	    width: 55%;
	}

	/*-- Section 1 - Card Page --*/

	/*-- Section 1 - Search Page --*/

	.good_thumbnails_2 .good_thumb_2 {
		width: calc(33.33% - 30px);
	}

	/*-- /Section 1 - Search Page --*/

}

@media only screen and (max-width: 1160px) {

/*-- Section 1 - Orders Page --*/

	.orders_table_header {
		display: none;
	}

	.back_link_resp {
		display: inline-block;
		vertical-align: top;
		margin: 20px 0 10px 45px;
	}

	.order_item {
		padding-bottom: 25px;
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		border-bottom: 1px solid #ededed;
	}

	.order_item .cell:nth-child(1) {
	    width: 50%;
	}

	.order_item .cell:nth-child(2) {
	    width: 30%;
	}

	.order_item .cell:nth-child(3) {
	    width: 20%;
	}

	.order_item .cell:nth-child(4) {
		width: 100px;
		margin-left: 166px;
		margin-top: -110px;
	}

	.order_item .cell:nth-child(5) {
	    width: calc(100% - 516px);
	    margin-top: -110px;
	}

	.order_item .cell:nth-child(6) {
	    width: 250px;
	    margin-top: -110px;
	}

	.order_item .p_resp {
		display: block;
	}

/*-- /Section 1 - Orders Page --*/

}

@media only screen and (max-width: 1124px) {

	/*-- Section 2 - Maine Page --*/

	.good_thumb {
	    width: calc(50% - 30px);
	    margin: 15px;
	}

	/*-- /Section 2 - Maine Page --*/

	/*-- Section 1 - Chekout Page --*/

	.checkout_table {
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
	}

	.checkout_table .cell {
		width: 100%;
	}

	.checkout_table .cell:after {
		display: none;
	}

	/*-- /Section 1 - Chekout Page --*/

	/*-- Section 1 - Vishlist Page --*/

	.vishlist_table_header {
		display: none;
	}

	/*-- /Section 1 - Vishlist Page --*/

}

@media only screen and (max-width: 1024px) {

	.row {
		padding: 0 15px;
	}

	.resp_wrapper {
		padding-top: 95px;
	}

/*-- Header --*/

.main_header,
.main_header.fixed {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 12;
	background: #ffffff;
}

.respmenubtn {
	display: block;
	top: 10px;
}

.main_nav_wrapp {
	width: 100%;
    margin: 5px 0;
}

.close_btn {
    display: block;
}

.resp_nav {
	/*display: block;*/
	display: none;
	width: 100%;
	height: 100vh;
	overflow-y: auto;
	margin: 0;
	padding: 60px 20px 80px 20px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 13;
	background: #ffffff;
}

.main_nav li {
	display: block;
	padding: 10px 0;
}

.main_nav li .resp_btn {
	display: block;
	position: absolute;
	top: 0;
	right: 20px;
	z-index: 2;
}

.sub_menu {
	display: none;
	opacity: 1;
	min-width: 100%;
	margin-top: 20px;
	padding-left: 10px;
	min-height: auto;
	position: relative;
	top: 0 !important;
	left: 0 !important;
	border-top: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
}

.sub_menu:hover {
	opacity: 1;
	top: 0 !important;
	left: 0 !important;
}

.sub_menu:before {
	display: none;
}

.sub_menu .inner_sub:after {
	display: none;
}

.sub_menu .sub_col {
    min-width: 100%;
    padding: 0 0 20px 0;
}

.sub_nav {
    margin: 10px 0;
}

.sub_menu .inner_sub {
    padding: 0;
}

.title_wrapp {
    padding: 0;
}

.sub_nav li {
    padding: 5px 0 !important;
}

.main_nav li a {
	display: inline-block;
	vertical-align: top;
}

.header_site .left_col {
    width: 50px;
}

.header_site .right_col {
    width: calc(100% - 300px);
}

/*-- /Header --*/

/*-- Section 1 - Maine Page --*/

.promo_templ .left_col {
    width: 40%;
}

.promo_templ .right_col {
    width: 60%;
}

.promo_title {
    top: -19px;
}

/*-- /Section 1 - Maine Page --*/

/*-- Section 2 - Maine Page --*/

.goods_cards_templ {
	display: block;
}

.goods_cards_templ .left_col {
    width: 100%;
    padding: 15px 0;
}

.goods_cards_templ .right_col {
    width: 100%;
    padding-left: 0;
}

.side_nav {
    width: 100%;
    max-width: 100%;
    min-height: auto;
}

.side_nav li a {
    margin: 10px 0;
}

.good_thumb h3 {
    font-size: 24px;
    line-height: 26px;
}

.good_thumb p {
    font-size: 22px;
    line-height: 26px;
}

/*-- /Section 2 - Maine Page --*/

/*-- Section 1 - Basket Page --*/

	.basket_table_header {
		display: none;
	}

	.p_resp {
		display: block;
	}

	.good_table h3 {
	    font-size: 23px;
	    line-height: 28px;
	}

	.basket_item {
	    display: flex;
	    display: -webkit-flex;
	    flex-wrap: wrap;
	    -webkit-flex-wrap: wrap;
	    margin: 30px 0;
	    padding: 20px 0;
	    border-bottom: 1px solid #ededed;
	}

	.basket_item p {
	    font-size: 23px;
	    line-height: 28px;
	}

	.basket_item .cell:nth-child(1) {
	    width: 50%;
	}

	.basket_item .cell:nth-child(2) {
	    width: 25%;
	}

	.basket_item .cell:nth-child(3) {
	    width: 25%;
	}

	.basket_item .cell:nth-child(4) {
	    width: 100%;
	    text-align: right;
	}

	.basket_item .cell:nth-child(4) p {
		display: inline-block;
		vertical-align: top;
		padding: 0 10px;
	}

	.basket_item .del_btn {
	    top: -20px;
	}

/*-- /Section 1 - Basket Page --*/

/*-- Section 1 - Vishlist Page --*/

.vishlist_item {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin: 30px 0;
    padding: 0;
}

.vishlist_item .cell:nth-child(1) {
    width: 75%;
}

.vishlist_item .cell:nth-child(2) {
    width: 25%;
}

.vishlist_item .cell:nth-child(3) {
    width: 100%;
    padding-top: 10px;
}

.good_options > div {
    width: 50%;
}

.vishlist_item {
	border-bottom: 1px solid #ededed;
	padding-bottom: 15px;
}

/*-- /Section 1 - Vishlist Page --*/

}

@media only screen and (max-width: 900px) {

	.resp_wrapper {
		padding-top: 65px;
	}

/*-- Footer --*/

	.footer {
		display: block;
		padding: 10px 0;
	}

	.footer .left_col {
		width: 100%;
		padding: 10px 0;
	}

	.footer .right_col {
		width: 100%;
		padding: 10px 0;
		justify-content: center;
	    -webkit-justify-content: center;
	}

	.footer_nav {
		justify-content: center;
	    -webkit-justify-content: center;
	    margin: 0;
	}

	.footer_nav li {
	    padding: 7px 15px;
	}

/*-- /Footer --*/

	/*-- Section 1 - Card Page --*/

	.card_templ {
		display: block;
	    margin: 10px 0;
	}

	.card_templ .left_col {
	    width: 100%;
	    padding: 10px 0;
	    max-width: 750px;
	    margin: 0 auto;
	}

	.card_templ .right_col {
	    width: 100%;
	    padding: 10px 0;
	}

	.filters_wrapp {
	    margin: 15px 0;
	}

	.filter {
	    width: 33.33%;
	}

	.sizes {
	    padding: 5px 10px 20px 10px;
	}

	.sizes_btn {
		display: none;
	}

	.sizes_wrapp:after {
	    display: none;
	}

	.sizes_wrapp.hide .sizes {
	    left: 0;
	}

	/*-- /Section 1 - Card Page --*/

	/*-- Section 1 - Orders Page --*/

	.profile_sect {
	    margin: 29px 0;
	}

	/*-- /Section 1 - Orders Page --*/

	/*-- Section 1 - Search Page --*/

	.good_thumbnails_2 .good_thumb_2 {
		width: calc(50% - 30px);
	}

	/*-- /Section 1 - Search Page --*/

	/*-- Section 1 - Planet Page --*/

	.image_wrapp .promo_title {
	    height: 20em;
	    width: 20em;
	}

	.image_wrapp {
		max-width: 300px;
	}

	.windowH {
	    min-height: auto;
	}

	/*-- /Section 1 - Planet Page --*/

}

@media only screen and (max-width: 767px) {

	.wrapper {
		padding-top: 88px;
	}

	h2 {
	    font-size: 30px;
	    line-height: 37px;
	}

	.planeta_img_2 {
		display: none;
	}

	.planeta_img_3 {
		display: none;
	}

	/*-- Header --*/

	.resp_icons_wrapp {
		padding: 10px 0 20px;
	}

	.resp_append {
		display: inline-block;
		vertical-align: top;
		margin: 10px;
	}

	.select_lang_wrapp .dropdown_select.active .dropdown_box {
	    left: -30px;
	}

	/*-- /Header --*/

	/*-- Section 1 - Maine Page --*/

	.planeta_img {
		display: none;
	}

	.promo_templ {
		display: block;
		height: 480px;
		min-height: auto;
		overflow: hidden;
	}

	.promo_templ .left_col {
		width: 100%;
	}

	.promo_templ .right_col {
	    width: 100%;
	    background: rgba(255, 255, 255, .6);
	    padding: 10px 0;
	    position: absolute;
	    top: 50%;
	    left: 0;
	    -webkit-transform: translate(0, -50%);
	    -moz-transform: translate(0, -50%);
	    transform: translate(0, -50%);
	}

	.promo_title {
	    height: 100%;
	    width: 100%;
	    padding: 0;
	    border: none;
	    border-radius: 0;
	    transform: none;
	    position: relative;
	    top: 0;
	    justify-content: center;
	}

	.h1_wrapp {
	    top: 0;
		transform: none;
		text-align: center;
	}

	.orbit {
		display: none;
	}

	.h1_wrapp h1 {
		transform: none;
		position: relative;
		display: block;
		text-align: center;
		box-shadow: none;
	}

	.h1_wrapp h1:after {
		display: none;
	}

	.title_image {
		display: none;
	}

	/*-- /Section 1 - Maine Page --*/

	/*-- Section 1 - Basket Page --*/

	.planeta_img_6,
	.planeta_img_7 {
		display: none;
	}

	.basket_item .cell {
		padding: 0 3px;
	}

	.basket_item .cell:nth-child(1) {
	    width: 70%;
	}

	.basket_item .cell:nth-child(2) {
	    width: 30%;
	}

	.basket_item .cell:nth-child(3) {
	    width: 150px;
	    margin-top: -88px;
	    margin-left: 160px;
	}

	.basket_item .cell:nth-child(4) {
	    width: calc(100% - 150px);
		margin-top: -88px;
		margin-left: 150px;
	}

	.dark_btn {
	    min-width: 250px;
	    padding: 10px 15px;
	    font-size: 26px;
	    line-height: 36px;
	}

	.basket_btn_wrapp .dark_btn {
	    min-width: 250px;
	    padding: 10px 15px;
	}

	/*-- /Section 1 - Basket Page --*/

	/*-- Section 1 - Card Page --*/

	.card_slider_big .slide .img_box {
	    height: 300px;
	}

	/*-- /Section 1 - Card Page --*/

	/*-- Section 1 - Chekout Page --*/

	.checkout_table .cell {
	    padding: 10px 15px;
	}

	.shape:before {
		display: none;
	}

	.white_select .active_val input {
	    font-size: 18px;
	}

	.input_wrapp_white input {
	    font-size: 18px;
	}

	.basket_btn_wrapp {
	    padding: 5px 0;
	}

	.basket_footer p {
	    font-size: 23px;
	    line-height: 26px;
	}

	.input_wrapp_white {
	    margin: 20px 0;
	}

	.white_select {
	    margin: 20px 0;
	}

	/*-- /Section 1 - Chekout Page --*/

	/*-- Section 1 - Enter Page --*/

	.enter_form_wrapp .input_wrapp:nth-child(1) {
	    margin-top: 30px;
	}

	.input_wrapp {
	    margin: 30px 0;
	    padding-top: 20px;
	    height: 65px;
	}

	.grey_btn {
	    min-width: 270px;
	    padding: 15px 15px;
	}

	.submit_wrapp {
	    padding: 30px 0;
	}

	.checkbox {
	    font-size: 19px;
	    line-height: 25px;
	}

	/*-- /Section 1 - Enter Page --*/

	/*-- Section 1 - Orders Page --*/

	.order_item .cell:nth-child(1) {
	    width: 100%;
	}

	.order_item .cell:nth-child(2) {
	    width: 33%;
	    padding-bottom: 10px;
	    text-align: left;
	}

	.order_item .cell:nth-child(3) {
	    width: 33%;
	    padding-bottom: 10px;
	    margin: 0;
	    text-align: left;
	}

	.order_item .cell:nth-child(4) {
		width: 33%;
		padding-bottom: 10px;
		margin: 0;
		text-align: left;
	}

	.order_item .cell:nth-child(5) {
	    width: 50%;
	    margin: 0;
	    text-align: left;
	}

	.order_item .cell:nth-child(6) {
	    width: 50%;
	    margin: 0;
	    text-align: left;
	}

	.order_item .p_resp {
		padding-bottom: 10px;
	}

	.order_item .good_table_cell_1 .img_box {
	    height: 180px;
	    margin-bottom: 20px;
	}

	/*-- /Section 1 - Orders Page --*/

	/*-- Section 1 - Profile Page --*/

	.profile_templ {
	    min-height: auto;
	}

	/*-- /Section 1 - Profile Page --*/

	/*-- Section 1 - Registration Page --*/

	.enter_form_wrapp {
	    margin: 25px auto;
	}

	.enter_form_wrapp h3 {
	    font-size: 33px;
	    line-height: 40px;
	}

	.planeta_img_4,
	.planeta_img_5 {
		display: none;
	}

	.input_wrapp_2 {
	    height: 60px;
	    margin: 20px 0;
	    padding-top: 15px;
	}

	.input_wrapp_2 input {
	    font-size: 28px;
	}

	/*-- /Section 1 - Registration Page --*/

	/*-- Section 1 - Search Page --*/

	.search_result_templ {
	    margin: 0;
	}

	/*-- /Section 1 - Search Page --*/

	/*-- Section 1 - Settings Page --*/

	.settings_form {
		display: block;
	    margin-bottom: 30px;
	}

	.input_wrapp_templ label {
	    font-size: 23px;
	    line-height: 30px;
	}

	.settings_form .left_col {
	    width: 100%;
	    padding: 10px 0 20px 0;
	}

	.settings_form .right_col {
	    width: 100%;
	    padding: 10px 0;
	}

	.submit_wrapp {
	    padding: 15px 0;
	}

	/*-- /Section 1 - Settings Page --*/

	/*-- Section 1 - Planet Page --*/

	.left_image .image_link {
	    top: 86%;
	    left: -102px;
	}

	.image_wrapp {
		max-width: 200px;
	}

	/*-- /Section 1 - Planet Page --*/

}

@media only screen and (max-width: 680px) {

	/*-- Section 1 - Card Page --*/

	.filter {
	    width: 50%;
	}

	/*-- /Section 1 - Card Page --*/

	/*-- Section 1 - Vishlist Page --*/

	.vishlist_item .cell:nth-child(1) {
	    width: 100%;
	    padding-bottom: 20px;
	}

	.vishlist_item .cell:nth-child(2) {
	    width: 100%;
	}

	.good_options > div {
	    width: 100%;
	}

	.good_options .btn_box a {
	    width: 100%;
	    min-width: 100%;
	}

	/*-- /Section 1 - Vishlist Page --*/

}

@media only screen and (max-width: 600px) {

	.wrapper {
		padding-top: 62px;
	}

	/*-- Header --*/

	.main_header {
	    padding: 0;
	}

	.header_site .left_col {
	    padding: 5px 5px 5px 0;
	}

	.header_site .center_col {
	    width: 150px;
	    padding: 5px;
	}

	.header_site .right_col {
	    width: calc(100% - 210px);
	    padding: 5px 0 5px 5px;
	}

	.respmenubtn {
	    top: 2px;
	}

	.icons_thumbs {
	    margin: 0;
	}

	/*-- /Header --*/

	/*-- Section 2 - Maine Page --*/

	.good_thumbnails {
	    margin: 0;
	}

	.good_thumb {
	    width: 100%;
	    margin: 15px 0;
	}

	/*-- /Section 2 - Maine Page --*/

	/*-- Section 1 - Basket Page --*/

	.basket_item .cell:nth-child(1) {
	    width: 100%;
	    margin-bottom: 10px;
	}

	.basket_item .cell:nth-child(2) {
	    width: 140px;
	}

	.basket_item .cell:nth-child(3) {
	    width: 150px;
	    margin-top: 0;
	    margin-left: 0;
	}

	.basket_item .cell:nth-child(4) {
	    width: calc(100% - 290px);
		margin-top: 0;
		margin-left: 0;
	}

	/*-- /Section 1 - Basket Page --*/


	/*-- Section 1 - Card Page --*/

	.filter {
	    width: 100%;
	    padding: 5px 0;
	}

	.sizes_table .table_row:nth-child(1) .cell {
	    padding: 10px 5px;
	}

	.sizes_table .table_row .cell:nth-child(1) p {
	    font-size: 13px;
	    line-height: 15px;
	}

	.sizes {
	    padding: 5px;
	}

	.sizes_table p {
	    font-size: 13px;
	    line-height: 16px;
	}

	.sizes_table .table_row .cell {
	    padding: 5px 5px;
	}

	/*-- /Section 1 - Card Page --*/

	/*-- Section 1 - Profile Page --*/

	.profile_navs_wrapp {
		display: block;
	}

	.profile_wrapp h2 {
	    padding: 10px 0;
	}

	.profile_desc p {
	    font-size: 22px;
	    line-height: 32px;
	}

	.profile_nav {
	    width: 100%;
	    padding: 0 !important;
	}

	.profile_nav:after {
		display: none;
	}

	.profile_nav li {
		display: block;
		padding: 5px 0;
		text-align: center;
	}

	.profile_nav li a {
	    font-size: 20px;
	    line-height: 24px;
	}

	/*-- /Section 1 - Profile Page --*/

	/*-- Section 1 - Search Page --*/

	.good_thumbnails_2 .good_thumb_2 {
		width: calc(50% - 30px);
		margin: 10px 15px;
	}

	/*-- /Section 1 - Search Page --*/

	/*-- Section 1 - Settings Page --*/

	.input_wrapp_templ label {
	    font-size: 22px;
	    line-height: 28px;
	}

	.dark_btn_2 {
		min-width: 100%;
	    font-size: 19px;
	    line-height: 23px;
	}

	/*-- /Section 1 - Settings Page --*/

}

@media only screen and (max-width: 560px) {

	/*-- Section 1 - Basket Page --*/

	.p_resp {
	    padding-bottom: 10px;
	}

	.good_table_cell_1 {
	    width: 130px;
	}

	.good_table_cell_2 {
	    width: calc(100% - 130px);
	}

	.basket_item .cell:nth-child(2) {
	    width: 140px;
	}

	.basket_item .cell:nth-child(3) {
	    width: calc(100% - 140px);
	}

	.basket_item .cell:nth-child(4) {
	    width: 100%;
	    margin-top: 10px;
	}

	.good_table h3 {
	    font-size: 21px;
	    line-height: 25px;
	}

	.basket_item p {
	    font-size: 20px;
	    line-height: 24px;
	}

	.count_box_2 {
	    width: 90px;
	}

	.count_box_2 button {
	    width: 20px;
	}

	.count_box_2 input {
	    width: 50px;
	    font-size: 24px;
	}

	/*-- /Section 1 - Basket Page --*/

	/*-- Section 1 - Search Page --*/

	.search_wrapp_2 {
	    width: 290px;
	}

	.good_thumbnails_2 .good_thumb_2 {
		width: 100%;
		margin: 10px 0;
	}

	/*-- /Section 1 - Search Page --*/

}

@media only screen and (max-width: 480px) {

	/*-- Header --*/

	.logo {
	    margin-top: 8px;
	}

	.header_site .center_col {
	    width: 110px;
	    padding-top: 7px;
	}

	.header_site .right_col {
	    width: calc(100% - 160px);
	}

	/*-- /Header --*/

	/*-- Section 1 - Orders Page --*/

	.order_item .good_table_cell_1 .img_box {
	    margin-bottom: 10px;
	}

	.order_item .cell:nth-child(2) {
	    width: 50%;
	}

	.order_item .cell:nth-child(3) {
	    width: 50%;
	}

	.order_item .cell:nth-child(4) {
		width: 50%;
	}

	.order_item .cell:nth-child(5) {
	    width: 50%;
	}

	.order_item .cell:nth-child(6) {
	    width: 50%;
	}

	.order_item p {
	    font-size: 19px;
	    line-height: 22px;
	}

	/*-- /Section 1 - Orders Page --*/

	/*-- Section 1 - Planet Page --*/

	.planet_article {
	    padding: 30px 0;
	}

	.planet_article p {
		padding: 10px 0;
		font-size: 20px;
	}

	.left_image .image_link {
		white-space: nowrap;
	    left: 0;
	}

	.right_image .image_link {
		white-space: nowrap;
	    right: 0;
	}

	/*-- /Section 1 - Planet Page --*/

}
